* {
  text-align: center;
  background-color: #71918B;
  text-decoration:none;
}

#page-container {
  position: relative;
  min-height: 70vh;
  max-height: fit-content;
}

#content-wrap {
  padding-bottom: 2rem;    
}

#footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 2rem; 
  text-align: left;
  font-family:'Montserrat', sans-serif;
  font-size: smaller;
  background-color: #71918B;
  color: white;
  border: 10px, #1E332F;
}

a {
  color:white;
}

ul {
  list-style-type: none;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #71918B;
  font-family:'Montserrat', sans-serif;  
  position: sticky;
  border: 10px, #1E332F;
}

li {
  float: left;
  color:white;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
}

li:visited {
  color:#5EF7DB;
}

li:hover {
  color:#5EF7DB;
}

li:active{
  color:white;
}

ol {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.3em;
  text-align: left;
  list-style-type: none;
}

.desc {
  font-family:'Montserrat', sans-serif;
  font-size: smaller;
  color: #fff;
  text-align: justify;
  margin: 20px;
  position:relative;
  list-style-type: none;
  top:auto;
  margin:auto;
  padding: 20px;
  overflow: hidden;
  background-color: #71918B;
  font-family:'Montserrat', sans-serif;  
  border: 20px;
  margin-left: 5%;
  margin-right: 10%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
  color:#fff;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(min(300px,50%),1fr));
  grid-gap: calc(.5rem - .5px) .5rem;
  margin: .5rem .5rem calc(1rem - 2px);
}

.gallery img {
  width: 100%;
  height: auto;
}

figure:hover {
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
}

figcaption {
  font-family:'Montserrat', sans-serif;
  font-size: 16px;
  position:relative;
  text-align:center;
  background-color: rgb(0,0,0,0);
}

i {
  background-color: rgb(0,0,0,0);
}

h1 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 6em;
  word-spacing: 15%;
  color:#fff;
}

h1:hover {
  text-shadow: /* 0 0 5px #FFF, 0 0 5px #FFF, 0 0 5px #FFF, */ 0 0 5px #5EF7DB, 0 0 5px #5EF7DB, 0 0 5px #5EF7DB, 0 0 5px #5EF7DB, 0 0 5px #5EF7DB
}

h2 {
  font-family: 'Space Grotesk', sans-serif;
  color:#fff;
}

h2:hover {
  color:#5EF7DB;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
  padding-bottom: 10px;
  padding-top: 10px;
  color:#fff;
}

p {
  font-family: 'Space Grotesk', sans-serif;
  font-size: larger;
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
  color:#fff;
}

div {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.2em;
  padding-bottom: 10px;
}

